[package]
name = "rbxm"
version = "0.1.0"
authors = ["Rune Tynan <runetynan@gmail.com>"]
edition = "2018"
description = "Reader for Roblox model files"
documentation = "https://docs.rs/rbxm"
readme = "README.md"
repository = "https://github.com/CraftSpider/rbxm-rs"
license = "MIT/Apache-2.0"
keywords = ["roblox", "rbxm"]
categories = ["data-structures", "encoding"]

[features]
default = ["std"]
std = []
mesh-format = []

[dependencies]
rbxm-proc = { version = "0.1.0", path = "./rbxm-proc" }
lz4 = "1.23"
