name: RBXM CI

on: [push, pull_request]

jobs:
  test:
    name: RBXM Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run tests (Default features)
        uses: actions-rs/cargo@v1
        with:
          command: test

      - name: Run tests (All features)
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features

      - name: Run tests (No features)
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-default-features

  lints:
    name: RBXM Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
